.tab-holidays {

	&__form-two {}

	&__null {
		position: relative;
		display: none;
		justify-content: center;
		align-items: center;
		// height: 100vh;
		align-items: center;

		img {
			max-width: 70%;
			padding: rem(15);
			@include adaptiveValue("padding-top", 144, 20);
			opacity: 0.4;
			user-select: none;

		}

		&::after {
			user-select: none;
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
		}
	}

	&__null.active {
		display: flex;
	}

	&__outputs {
		// display: none;
	}
}

//========================================================================================================================================================


.form-two {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "A B D" "A B D";
	@include adaptiveValue("margin-bottom", 56, 24);

	&__title {
		// text-align: center;
		@include adaptiveValue("padding-left", 40, 12);
		@include adaptiveValue("margin-bottom", 16, 8);

	}

	&__select {
		position: relative;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		border-radius: rem(5);
		background: $inputColor;
		background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(49, 16, 103)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
		background-repeat: no-repeat;
		background-position-x: 96%;
		background-position-y: 50%;
		border: rem(1) solid $inactiveColor;
		height: rem(60);

		@include adaptiveValue("font-size", 24, 16);
		min-width: 100%;
		color: $mainColor;
		padding-right: rem(10);
		@include adaptiveValue("padding-left", 40, 16);
		@include adaptiveValue("padding-right", 40, 16);
		@include adaptiveValue("padding-top", 15, 16);
		@include adaptiveValue("padding-bottom", 15, 16);


		&:hover {
			background-color: $inputHoverColor ;
			border: rem(1) solid $mainColor;

		}
	}

	&__year {
		padding: rem(5);
		grid-area: A;
	}

	&__region {
		padding: rem(5);
		grid-area: B;

	}

	&__action {
		padding: rem(5);

		grid-area: D;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
	}
}

.select-region {
	&__option {
		background: $inputColor;

		&[selected] {
			background: $onColor;
			font-weight: bold;

		}
	}
}

.select-year {
	&__option {
		background: $inputColor;

		&[selected] {
			background: $onColor;
			font-weight: bold;

		}
	}
}

//========================================================================================================================================================

.action {

	&__button {
		font-weight: 400;
		padding: rem(54);
		min-width: 100%;
		min-height: rem(60);

		@include adaptiveValue("padding-top", 15, 12);
		@include adaptiveValue("padding-bottom", 15, 12);
	}
}

//========================================================================================================================================================


@media (max-width:$mobile) {
	.form-two {
		grid-template-columns: 1fr;
		grid-template-columns: 3fr;
		grid-template-areas: "one" "two" "three";

		&__year {
			grid-area: one;
		}

		&__region {
			grid-area: two;
		}

		&__action {
			grid-area: three;

		}
	}

	.action {

		&__button {
			min-width: 100%;
		}
	}
}

//========================================================================================================================================================


.outputs {

	&__titles {

		display: grid;
		grid-template-columns: 1fr 1fr 4fr;
		@include adaptiveValue("margin-bottom", 16, 12);
	}


	&__title {
		@include adaptiveValue("padding-left", 24, 8);
		@include adaptiveValue("padding-right", 24, 8);
		display: flex;
		justify-content: center;
		align-items: center;



	}

	&__list {
		padding: rem(5);
	}

	&__item {

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 24, 8);
		}
	}
}

.outputs__title._icon-arrow.active {
	transform: rotate(-90deg);
}


.title-date {}

._icon-arrow {
	transform: rotate(90deg);
}

//========================================================================================================================================================


.item-outputs {

	display: grid;
	grid-template-columns: 2fr 4fr;
	background: $inputColor;
	@include adaptiveValue("font-size", 24, 15);



	background: rgba(255, 255, 255, 0.76);


	box-shadow: 0 rem(0) rem(1) rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(rem(6));
	-webkit-backdrop-filter: blur(rem(6));
	border-bottom: 1px solid rgba(255, 255, 255, 0.0);

	border: rem(1) solid $mainColor;
	justify-content: center;
	align-items: center;
	@include adaptiveValue("font-size", 24, 16);
	border-radius: rem(5);
	min-height: rem(62);

	&__date {
		@include adaptiveValue("padding", 14.51, 11.5);

		@include adaptiveValue("padding-left", 16, 8);
		@include adaptiveValue("padding-right", 16, 8);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__content {
		@include adaptiveValue("padding", 14.51, 11.5);
text-align: center;
		@include adaptiveValue("padding-left", 16, 8);
		@include adaptiveValue("padding-right", 16, 8);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}